services:
  - type: web
    name: admission-bot
    env: node
    buildCommand: npm install
    startCommand: node server.js
    envVars:
      - key: PORT
        value: 10000
      - key: NODE_ENV
        value: production
    plan: free
    region: oregon
    autoDeploy: true
